/* Content Container Styling */
.container{
	padding: 10rem 0 8rem;
}

/* Image Styling */
.image-container{
	flex: 1;
	order: 1;
	margin-top: 1.5rem;
}

.image-container img{
	width: 100%;
}

.page-description{
	flex: 1;
	order: 2;
	margin-left: 8%;
	padding-right: 0;
}

footer{
	position: absolute;
	width: 81%;
	margin-bottom: 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 65rem){

	.container{
		flex-direction: column;
	}

	.image-container{
		order: 2;
	}

	.image-container img{
		width: 100%;
	}

	.page-description{
		order: 1;
		margin-left: 0;
	}
}
