/* Content Container Styling */
.container{
	padding: 10rem 0 4rem;
}

/* Page description Styling */
.page-description{
	flex: 1;
	order: 1;
	margin-bottom: 1rem;
}

.page-description p{
	max-width: 90%;
}

/* Contact Form Container*/
.form-container{
	flex: 1;
	order: 2;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 3rem;
}

.form-container h2{
	margin-left: 0.8rem;
	margin-top: -0.5rem;
}

/* Form Styling */
.contact-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-bottom: 1.2rem;
}

.form-section.name{
	padding-top: 2rem;
	margin-bottom: -3rem;
	margin-left: -1rem;
	margin-right: 9%;
	width: 43%;
	display: inline-block;
}

.form-section.block{
	padding-top: 3rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 3.4rem;
	display: block;
}

/* MEDIA QUERIES */
/*  Screen size below 480px*/
@media screen and (max-width:30rem){

	.container {
		flex-direction: column;
	}

	.page-description{
		padding-right: 1rem;
	}

	.page-description p{
		max-width: 100%;
	}

	.form-container{
		margin-top: 2rem;
		padding-left: 0;
		margin-left: 0;
	}

	.form-container h2{
		margin-left: 0;
	}

	.contact-form{
		margin-right: 1rem;
		padding-left: 1.3rem;
	}

	.form-section.name{
		margin-right: 0;
		width: 100%;
		margin-bottom: -1.5rem;
		display: block;
	}

	.form-section.block{		
		margin-right: 0;
		margin-top: -2.5rem;
		width: 100%;
	}
}

/* Screen size of 480px -  896px */
@media screen and (min-width: 30rem) and (max-width: 45rem){

	.container{
		flex-direction: column;
	}

	.page-description{
		padding-right: 1rem;
	}

	.page-description p{
		max-width: 100%;
	}

	.form-container{
		margin-top: 2rem;
		padding-left: 0;
		margin-left: 0;
	}

	.form-container h2{
		margin-left: 0;
	}

	.contact-form{
		margin-right: 1rem;
		padding-left: 1.3rem;
	}

	.form-section.name{
		margin-right: 0;
		width: 100%;
		margin-bottom: -1.5rem;
		display: block;
	}

	.form-section.block{		
		margin-right: 0;
		margin-top: -2rem;
		width: 100%;
	}
}

/* Screen size of 896px -  1184px */
@media screen and (min-width: 45rem) and (max-width: 74rem){

	.container{
		flex-direction: column;
	}

	.page-description{
		padding-right: 1.5rem;
	}

	.page-description p{
		max-width: 100%;
	}

	.form-container{
		margin-top: 2rem;
		padding-left: 0;
		margin-left: 0;
	}

	.form-container h2{
		margin-left: 0;
	}

	.contact-form{
		margin-right: 1rem;
		padding-left: 1.1rem;
	}

	.form-section.name{
		margin-right: 10%;
		width: 41%;
	}

	.form-section.block{
		margin-right: 12%;
	}
}

@media screen and (min-width: 74rem) and (max-width: 85rem){

	.form-section.name{
		margin-right: 13%;
		width: 40%;
	}
}