body{
	/*background: #FCFCFC;*/
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.7rem;
	/*max-width: 80%;*/
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #C09992;
	max-width: 60%;
}

h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #C09992;
}

a{
	text-decoration: none;
	transition: 0.5s;
	color: #8C7977;
}

a:hover, a:focus{
	color: #3C3C3C;
}

img{
	width: 60%;
}

ul{
	list-style-type: none;
	margin-left: -2.5rem;
}

li{
	margin-top: 0.5rem;
}

/* Navigation Styling */
.main-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	padding: 1.5rem 9%;
	box-shadow: 1px 1px 5px #D0D0D0;
}

/* Logo in Navigation */
.nav-logo{
	flex: 1;
	margin-left: 1.2rem;
	margin-top: -0.6rem;
}

.nav-logo a{
	font-size: 2rem;
	color: #C09992;
}

.nav-logo a:hover, .nav-logo a:focus{
	color: #7B7B7B;
}

/* Navigation Links */
.nav-link-section{
	display: inline;
	flex: 3;
	text-align: right;
	font-size: 1.2rem;
}

.nav-link{
	color: #C09992;
	padding-bottom: 0.2rem;
	margin-left: 1.5rem;
	border-bottom: 2px solid #ffffff;
}

.nav-link:hover, .nav-link:focus{
	color: #7B7B7B;
	border-bottom: 2px solid #7B7B7B;
}

/* Header Styling */
header{
	/*background: #AE3034;*/
	margin-top: 0;
}

.sub-header{
	margin-bottom: 1.5rem;
	padding: 5rem 10%;
}

header h1{
	/*color: #ffffff;*/
	display: inline-block;
	font-size: 3rem;
	/*padding-bottom: 0.5rem;*/
}

header h2{
	margin-top: -1rem;
	font-size: 1rem;
}

/* Content Container Styling */
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 2.5rem 0;
	margin-right: 10%;
	margin-left: 10%;
}

/* Page Description Styling */
.page-description{
	flex: 2;
	order: 1;
	padding-right: 8%;
}

/* Form Styling */
.contact-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
}

.form-container{
	flex: 1;
	padding: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

.form-container h2{
	margin-left: 0.8rem;
}

.form-section.name{
	padding-top: 2rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 5rem;
	display: inline-block;
}

.form-section.block{
	padding-top: 2rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 5rem;
	display: block;
}

.form-section p{
	margin-top: 0.2rem;
}

.form-label{
	color: #3C3C3C;
}

.learn-more{
  	margin-top: 2.5rem;
  	margin-bottom: 0.5rem;
}

/* Styling Text Input Box */
.text-input{
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.7rem;
	border: 1px solid #bbbbbb;
	font-family: 'Open Sans', sans-serif;
	transition: 0.5s;
}

.text-input:hover, textarea:hover{
	border: 1px solid #C09992;
	background: #F5F5F5;
}

.text-input:focus, textarea:focus{
	border: 1px solid #C09992;
	background: #DDC7C4;
}

/* Text Area Styling */
textarea{
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #bbbbbb;
	transition: 0.5s;
}

/* Change Size of Text Input Field */
input[type = "text"], input[type="email"], textarea{
  	width: 100%;
}

/* General Button Styling */
.btn{
 	padding: 1rem 1rem;
  	margin-right: 0.5rem;
  	border-radius: 10px;
  	border: 2px solid #954749;
  	background: #954749;
  	color: #ffffff;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 0.9rem;
  	transition: 0.3s;
}

.btn:hover{
  	border: 2px solid #954749;
  	background: #ffffff;
  	color: #954749;
}

.btn:focus{
  	border: 2px solid #3C3C3C;
  	background: #F5F5F5;
  	color: #3C3C3C;
}


/* Submit Button Styling */
.action-btn-container {
	margin-left: -1rem;
	margin-top: 3rem;
}

.action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border: 2px solid #DDC7C4;
	background: #DDC7C4;
	color: #8C7977;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #C09992;
	background: #ffffff;
	color: #C09992;
}

.action-btn:focus{
	border: 2px solid #8C7977;
	background: #FCFCFC;
	color: #7B7B7B;
}

/* Footer Styling */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #7B7B7B;
	color: #F5F5F5;
	font-size: 0.8rem;
	padding: 1rem 1rem;
}

footer div{
	padding: 0rem 2.5rem;
}

footer h4{
	color: #ffffff;
	font-size: 0.9rem;
}

footer ul{
	list-style-type: none;
	margin-left: -2.5rem;
}

footer li{
	margin-top: 0.5rem;
}

/* Footer Navigation Section Styling */
.footer-navigation{
	flex: 3;
}

.footer-navigation a{
	color: #F5F5F5;
}

.footer-navigation a:hover, .footer-navigation a:focus{
	color: #AE3034;
}

.footer-navigation ul{
	margin-top: -0.3rem;
	display: inline-block;
	list-style-type: none;
	margin-left: -2.5rem;
	margin-right: 2.5rem;
}

/* Footer Contact Section Styling */
.footer-contact{
	flex: 3;
}

/* Footer Social Section Styling */
.footer-social{
	display: inline;
	flex: 1;
}

.footer-social img{
	width: 15%;
	margin-right: 0.5rem;
}


/* MEDIA QUERIES */

/* Screen size of 320px - 480px */
@media screen and (min-width:20rem) and (max-width:30rem){

	body {
		font-size: 0.75rem;
	}

/*	.main-nav{
		padding: 0.4rem 2.5rem;
	}

	.nav-logo, .mobile-nav {
		display: inline-block;
	}

	.nav-logo {
		flex: 2;
	}

	.nav-link-section {
		display: block;
		padding-top: 0.3rem;
		font-size: 1rem;
	}

	.nav-link-section a {
		display: none;
		padding-right: 2.5rem;
		text-align: center;
	}

	.mobile-nav {
		flex: 1;
		font-size: 1rem;
		position: absolute;
		right: 2.5rem;
	}

	.nav-link{
		margin-right: 0.1rem;
		padding: 0;
		font-size: 1.1rem;
	}*/

	footer{
		flex-direction: column;
		font-size: 0.75rem;
		padding: 0.5rem;
	}

	footer h4{
		font-size: 0.8rem;
	}

	.footer-navigation ul{
		margin-right: 1.5rem;
	}

	.footer-social img{
		width: 2rem;
		margin-right: 0.5rem;
		padding: 0.1rem;
	}
}

/* Screen size of 480px - 1040px */
@media screen and (min-width:30rem) and (max-width:65rem){

/*	.nav-logo {
		flex: 3;
		margin-left: 0;
	}

	.nav-link{
		margin-right: 2rem;
		font-size: 1.1rem;
	}

	.nav-link-section {
	}

	.nav-link-section a {
		display: inline-block;
	}

	.mobile-nav {
		position: absolute;
		right: 2.5rem;
	  display: none;
	}*/

	footer {
		flex-direction: column;
		text-align: center;
	}

	footer h4{
		margin-left: -0.4rem;
	}

	footer div{
		padding: 0;
	}

	.footer-navigation ul{
		margin-left: -0.8rem;
		margin-right: 0;
		padding: 0 2.4rem;
	}

	.footer-social img{
		max-width: 2rem;
		margin-bottom: 1rem;
		padding: 0 0.4rem;
	}
}


/* ADDITIONAL BREAKPOINTS FOR MOBILE NAV */
/* Screen size below 320px */
/*@media screen and (max-width:20rem){

	.main-nav, .mobile-nav, .nav-link-section {
		display: block;
		text-align: center;
	}
	.nav-link-section a {
		display: none;
	}
}*/

/* At exactly 320px */
/*@media screen and (width:20rem){

	.nav-logo {
		margin-left: -2rem;
	}
}*/

/* Screen size of 304px - 384px */
/*@media screen and (min-width:19rem) and (max-width:24rem){

	.nav-logo img {
		padding-left: 0;
	}

	.mobile-nav {
		right: 1rem;
	}
}*/

/* Screen size below 960px */
/*@media screen and (max-width:60rem){

	.main-nav {
		display: block;
	}
	.nav-logo, .mobile-nav {
		display: inline-block;
	}

	.mobile-nav {
		display: inline-block;
	}

	.nav-link-section {
		display: block;
		text-align: center;
		padding-top: 0.3rem;
	}

	.nav-link {
		display: block;
		margin-bottom: 0.8rem;
	}

	.nav-link-section a {
		display: none;
	}
}*/

/* Screen size above 960px */
/*@media screen and (min-width: 60rem){

	.mobile-nav {
		display: none;
	}
}*/



/* ADDITIONAL MEDIA QUERIES FOR FORMS */

/* Screen size below 480px */
@media screen and (max-width:30rem){
	.sub-header{
		padding: 2.5rem 10%;
	}

	.sub-header h1{
		font-size: 1.4rem;
	}
	
	.form-container{
		margin-left: 0;
		margin-right: 0;
		padding: 0.5rem;
	}

	.form-section{
		display: block;
		margin-right: 1rem;
		margin-bottom: -1.5rem;
	}

	.contact-form {
		margin-left: -0.3rem;
	}

	.confirmation-container {
		margin-left: 0;
		margin-right: 0;
		padding: 0.65rem;
	}
}

/* Screen size of 480px - 800px */
@media screen and (min-width:30rem) and (max-width: 50rem){

	.sub-header{
		padding: 3rem 10%;
	}

	.sub-header h1{
		font-size: 1.6rem;
	}

  	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}

	.form-container{
		padding: 2rem;
	}

	.account-form, .contact-form {
		margin-left: -0.2rem;
		margin-right: 1rem;
	}
}

/* Screen size of 480px - 896px */
@media screen and (min-width: 30rem) and (max-width: 56rem){

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}

}

/* Screen size of 800px - 896px */
@media screen and (min-width:50rem) and (max-width: 56rem){

	.form-container{
		padding: 2rem;
	}

	.contact-form, .account-form{
		margin-left: -0.2rem;
		margin-right: 1rem;
	}

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}
}