body{
	/*background: #FCFCFC;*/
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.7rem;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #C09992;
	/*max-width: 60%;*/
}

h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #C09992;
}

a{
	text-decoration: none;
	transition: color 0.5s;
	color: #8C7977;
}

a:hover, a:focus{
	color: #3C3C3C;
}

img{
	width: 60%;
}

ul{
	list-style-type: none;
	margin-left: -2.5rem;
}

li{
	margin-top: 0.5rem;
}

.sub-header{
	margin-bottom: 1.5rem;
	padding: 10rem 10% 5rem;
}

header h1{
	/*color: #ffffff;*/
	display: inline-block;
	font-size: 3rem;
	/*padding-bottom: 0.5rem;*/
}

header h2{
	margin-top: -1rem;
	font-size: 1rem;
}

/* Content Container Styling */
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*margin-top: 1rem;*/
	padding: 2.5rem 0;
	margin-right: 10%;
	margin-left: 10%;
}

/* Page Description Styling */
.page-description{
	flex: 2;
	order: 1;
	padding-right: 8%;
}

/* Form Styling */
.contact-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
}

.form-container{
	flex: 1;
	padding: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

.form-container h2{
	margin-left: 0.8rem;
}

.form-section.name{
	padding-top: 2rem;
	margin-bottom: -3rem;
	margin-left: -1rem;
	margin-right: 5rem;
	display: inline-block;
}

.form-section.block{
	padding-top: 3rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 6.8rem;
	display: block;
}

.form-label{
	color: #3C3C3C;
}

/* Styling Text Input Box */
.text-input{
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.7rem;
	border: 1px solid #bbbbbb;
	font-family: 'Open Sans', sans-serif;
	transition: 0.5s;
}

.text-input:hover, textarea:hover{
	border: 1px solid #C09992;
	background: #F5F5F5;
}

.text-input:focus, textarea:focus{
	border: 1px solid #C09992;
	background: #DDC7C4;
}

/* Text Area Styling */
textarea{
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #bbbbbb;
	transition: 0.5s;
}

/* Change Size of Text Input Field */
input[type = "text"], input[type="email"], textarea{
  	width: 100%;
}

/* Submit Button Styling */
.action-btn-container {
	margin-left: -1rem;
	margin-top: 3rem;
}

.action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border: 2px solid #DDC7C4;
	background: #DDC7C4;
	color: #8C7977;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #C09992;
	background: #ffffff;
	color: #C09992;
}

.action-btn:focus{
	border: 2px solid #8C7977;
	background: #FCFCFC;
	color: #7B7B7B;
}

/* Footer Styling */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #7B7B7B;
	color: #F5F5F5;
	font-size: 0.8rem;
	padding: 1rem 10% 1rem 9%;
}

.footer-copyright{
	flex: 1;
	order: 1;
}

.footer-copyright p, .footer-links a:hover{
	color: #DCC8C3;
}

.footer-links{
	flex: 2;
	order: 2;
	text-align: right;
}

.footer-links a{
	line-height: 3rem;
	margin-left: 4rem;
	color: #F2EDEC;
}

/* MEDIA QUERIES */

/* Screen size of 320px - 480px */
@media screen and (max-width:30rem){

	body {
		font-size: 0.75rem;
	}

	footer{
		flex-direction: column;
		font-size: 0.75rem;
		/*padding: 0.5rem;*/
	}

	.footer-copyright{
		order: 2;
	}

	.footer-links{
		order: 1;
		text-align: left;
	}

	.footer-links a{
		margin-left: 0;
		margin-right: 1.5rem;
	}
}

/* Screen size of 480px - 1040px */
@media screen and (min-width:30rem) and (max-width:48rem){

	footer{
		flex-direction: column;
		text-align: center;
	}

	.footer-copyright{
		order: 2;
	}

	.footer-links{
		order: 1;
		text-align: center;
	}

	.footer-links a{
		margin-left: 2rem;
		margin-right: 2rem;
	}
}


/* ADDITIONAL MEDIA QUERIES FOR FORMS */

/* Screen size below 480px */
@media screen and (max-width:30rem){
	.sub-header{
		margin-bottom: 0;
		padding: 8rem 10% 3rem;
	}

	.sub-header h1{
		font-size: 1.4rem;
	}

	.sub-header h2{
		margin-top: -0.5rem;
		font-size: 0.8rem;
	}
	
	.form-container{
		margin-left: 0;
		margin-right: 0;
		padding: 0.5rem;
	}

	.form-section{
		display: block;
		margin-right: 1rem;
		margin-bottom: -1.5rem;
	}

	.contact-form {
		margin-left: -0.3rem;
	}

	.confirmation-container {
		margin-left: 0;
		margin-right: 0;
		padding: 0.65rem;
	}
}

/* Screen size of 480px - 800px */
@media screen and (min-width:30rem) and (max-width: 50rem){

	.sub-header{
		margin-bottom: 0.5rem;
		padding: 9rem 10% 4rem;
	}

	.sub-header h1{
		font-size: 2.5rem;
	}

  	.container{
		flex-direction: column;
	}

	.form-container{
		padding: 2rem;
	}

	.account-form, .contact-form {
		margin-left: -0.2rem;
		margin-right: 1rem;
	}
}

/* Screen size of 480px - 896px */
@media screen and (min-width: 30rem) and (max-width: 56rem){

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}

}

/* Screen size of 800px - 896px */
@media screen and (min-width:50rem) and (max-width: 56rem){

	.form-container{
		padding: 2rem;
	}

	.contact-form, .account-form{
		margin-left: -0.2rem;
		margin-right: 1rem;
	}

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}
}














/* https://codepen.io/mutedblues/pen/MmPNPG */

.main-nav {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	margin-top: 0;
	z-index: 2;
	display: block;
}

.main-nav ul {
	margin-left: 10%;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.main-nav li {
	margin-top: 0;
}

/*.main-nav li a {*/
.main-nav .nav-link{
	display: inline-block;
	font-size: 1.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.2rem;
	border-bottom: 2px solid #ffffff;
	color: #C09992;
}

.main-nav .nav-link:hover, .main-nav .nav-link:focus{
  	color: #7B7B7B;
	border-bottom: 2px solid #7B7B7B;
}

.nav-logo {
	display: block;
	float: left;
	/*font-size: 2em;*/
	padding-left: 10%;
	/*padding-bottom: 1rem;*/
	margin-top: 1.3rem;
	/*color: #C09992;*/
	/*background: black;*/
}

.nav-logo img{
	max-width: 45%;
}

/*.nav-logo:hover, .nav-logo:focus{
	color: #7B7B7B;
}*/

/* menu */

.main-nav .nav-link-section{
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */

.main-nav .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	margin-top: 1.3rem;
	padding: 1.5rem 10%;
	position: relative;
	user-select: none;
}

.main-nav .menu-icon .navicon {
	background: #c09992;
	display: block;
	height: 0.2rem;
	width: 1.2rem;
	position: relative;
	transition: background .2s ease-out;
}

.main-nav .menu-icon .navicon:before,
.main-nav .menu-icon .navicon:after {
	background: #c09992;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
}

.main-nav .menu-icon .navicon:before {
	top: 0.4rem;
}

.main-nav .menu-icon .navicon:after {
	top: -0.35rem;
}

/* menu btn */

.main-nav .menu-btn {
	display: none;
}

.main-nav .menu-btn:checked ~ .nav-link-section {
	max-height: 9rem;
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 48rem) {
  .main-nav ul{
  	/*margin-right: 10%;*/
  	margin: 2rem 10%;
  }
  .main-nav li {
    float: left;
  }

  .main-nav li a {
	padding: 0;
	margin-left: 3rem;
  }

  .main-nav .nav-link-section {
  	clear: none;
    float: right;
    max-height: none;
  }

  .main-nav .menu-icon {
    display: none;
  }
}
