/* Header Styling */
.sub-header{
  background: url(../img/seeremheader.png);
}

/* Project Link */
.overview-button{
	margin-top: 3rem;
}

/* Image Styling */
.page-description.right img{
	width: 100%;
}