/* Container For Page Layout*/
#container{
	margin-left: 35%;
	margin-right: 4rem;
}

.styleguide-content{
	margin-top: 3.2rem;
	margin-right: 1rem;
}

/* Page Navigation */
.side-navigation{
	padding: 0 2rem;
	position: fixed;
	margin-left: 2rem;
	margin-top: -2rem;
	z-index: 1;
}

/* Page Navigation Links*/
.page-nav{
	display: block;
	margin-bottom: 0.8rem;
	color: #8C7977;
}

.page-nav:hover, .page-nav:focus{
	color: #3C3C3C;
}

/* Page Subheadings*/
.subheading{
	padding-bottom: 0.8rem;
	border-bottom: 2px solid;
	margin-right: 40%;
}

/* page subsections */
section{
	padding-bottom: 1rem;
	margin-bottom: 1.6rem;
}

.element{
	border-bottom: 1px solid #bbb;
}

code{
	word-wrap: break-word;
}

/* Navigation Styling */
.main-nav{
	box-shadow: 1px 1px 5px #D0D0D0;
	padding: 1.5rem 3rem;
	position: relative;
	margin: 0;
	width: 89%;
	z-index: 0;
}

.nav-link{
	border-bottom: 2px solid #ffffff;
	transition: border-bottom 0.5s;
}

.nav-link:hover, .nav-link:focus{
  	color: #7B7B7B;
	border-bottom: 2px solid #7B7B7B;
}

/* Form Container Styling */
.form-container{
	flex: 1;
	padding: 1rem 0;
	margin-left: 0;
	margin-right: 10rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

/* Form Subheading Styling */
.form-container h4{
	margin-left: 0.8rem;
}

/* Form Section Styling */
.solo.form-section{
	margin-top: 1.5rem;
	margin-bottom: 0;
	margin-left: 0;
	width: 40%;
}

.form-section.name{
	margin-top: 0.5rem;
	display: inline-block;
	width: 40%;
	margin-bottom: -1.5rem;
	margin-right: 10%;
}

.form-section.block{
	margin-top: 0.5rem;
	display: block;
	width: 89%;
	margin-bottom: -1.5rem;
	margin-right: 10%;
}

/* Project Display Styling */
.project-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
/* Project Image Styling */
.project-image{
  flex: 2;
  background: #f2edec;
  padding: 3rem 8rem 3rem 4rem;
}

.project-image.right{
  order: 2;
  background: #f2edec;
  padding: 3rem 4rem 3rem 8rem;
}

.project-image img{
  width: 100%;
}

.project-image.right img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-description-container{
  flex: 1;
  margin: auto;
}

.project-description-container.left{
  order: 1;
}

.project-description{
  background: #DDC7C4;
  padding: 3rem 4rem;
}

.project-description.right{
  margin-left: -4rem;
}

.project-description.left{
  margin-right: -4rem;
}

/* Project Description Text */
.project-description h3{
  color: #ffffff;
  margin-top: 0;
  margin-bottom: -0.8rem;
  font-size: 1.5rem;
}

.project-description p{
  color: #ffffff;
}

/* Project Description Styling */
.project-description-table{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 3rem 9% 5rem;
	text-align: center;
}

.project-description-table section{
	flex: 1;
}

.tools-container{
	border-right: 1px solid #DDC7C4;
	border-left: 1px solid #DDC7C4;
}

/* MEDIA QUERIES */
/* Screen size of 480px or less */
@media screen and (max-width:30rem){
	body{
		margin-top: 15rem;
	}

	img{
		width: 100%;
	}
	
	#container{
		flex-direction: column;
		margin-left: 2rem;
	}

	.side-navigation{
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 2.8rem 1rem;
		background: #ffffff;
		box-shadow: 1px 1px 5px grey;
	}

	.styleguide-content{
		margin-top: 0;
		margin-left: 1rem;
	}

	.page-nav{
		display: block;
		margin-right: 2.5rem;
		margin-bottom: 0.8rem;
	}

	.anchor{
		padding-top: 18rem;
    	margin-top: -18rem;
	}

	code{
		word-break: break-word;
	}

	.form-container{
		margin-right: 0;
	}

	.form-section{
		display: block;
		margin-right: 1rem;
		margin-bottom: -1.5rem;
		width: 90%;
	}

	.form-section.name{
		display: block;
		width: 89%;
	}

	.contact-form {
		margin-left: -0.3rem;
	}

	.solo.form-section{
		width: 50%;
	}

	.nav-logo img{
		max-width: 30%;
	}

	.main-nav .menu-icon {
		margin-top: 1rem;
		padding: 1.5rem 10% 1.5rem 0;
	}

	.project-display{
	    flex-direction: column; 
	    margin-bottom: 2rem; 
	}

	.project-image {
	    margin-right: 10%;
	    padding: 2rem 1.5rem;
	}

	.project-description-container{
	    margin: 0 0 0 30%;
	}

	.project-description{
	    padding: 1.5rem 2rem;
	}

	.project-description h3{
	    font-size: 1rem;
	}

	.project-description a{
	    font-size: 0.6rem;
	}

	.project-image.right{
	    order: 1;
	    padding: 2rem 1.5rem;
    }

	.project-description.right{
	    margin-top: -2rem;
	    margin-left: 0;
	}

	.project-description-table{
		flex-direction: column;
		margin: 0 9%;
	}

	.tools-container{
		border-right: none;
		border-left: none;
	}
}

/* Screen size of 480px - 768px */
@media screen and (min-width:30rem) and (max-width: 48rem){
	body{
		margin-top: 18rem;
	}

	img{
		width: 100%;
	}

	#container{
		flex-direction: column;
		margin-left: 3rem;
	}

	.side-navigation{
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 3.8rem 1rem;
		background: #ffffff;
		box-shadow: 1px 1px 5px grey;
	}

	.styleguide-content{
		margin-top: 0;
		margin-left: 1rem;
	}

	.page-nav{
		display: block;
		margin-right: 2.5rem;
		margin-bottom: 0.8rem;
	}

	.anchor{
		padding-top: 20rem;
    	margin-top: -20rem;
	}

	code{
		word-break: break-word;
	}

	.form-container{
		margin-right: 0;
	}

	.solo.form-section{
		width: 50%;
	}

	.form-section{
		display: block;
		width: 100%;
	}

	.form-section.name{
		display: block;
		width: 89%;
	}

	.project-display{
	    flex-direction: column; 
	    margin-bottom: 4rem; 
	}

	.project-image {
	    margin-right: 10%;
	    padding: 2rem 4rem 3rem;
	}

	.project-description-container{
	    margin: 0 0 0 30%;
	}

	.project-description{
	    padding: 2rem 3rem;
	}

	.project-description h3{
	    font-size: 1.2rem;
	}

	.project-description a{
	    font-size: 0.8rem;
	}

	.project-image.right{
	    order: 1;
	    padding: 2rem 4rem 3rem;
	}

	.project-description.right{
	    margin-top: -3rem;
	    margin-left: 0;
	}

	.project-description-table{
		flex-direction: column;
		margin: 0 9%;
	}

	.tools-container{
		border-right: none;
		border-left: none;
	}
}

/* Screen size of 768px - 960px */
@media screen and (min-width:48rem) and (max-width: 60rem){
	body{
		margin-top: 12rem;
	}

	img{
		width: 100%;
	}

	#container{
		flex-direction: column;
		margin-left: 3rem;
	}

	.side-navigation{
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 3.8rem 1rem;
		background: #ffffff;
		box-shadow: 1px 1px 5px grey;
	}

	.styleguide-content{
		margin-top: 0;
		margin-left: 1rem;
	}

	.page-nav{
		display: inline-block;
		margin-right: 2.5rem;
		margin-bottom: 0.8rem;
	}

	.anchor{
		padding-top: 12rem;
    	margin-top: -12rem;
	}

	.form-section{
		margin-right: 12%;
	}

  	.project-description h3{
    	font-size: 1.2rem;
  	}

  	.main-nav{
  		padding: 3.5rem 0rem;
  	}

	.nav-logo img{
		max-width: 45%;
		margin-top: -5rem;
	}

	.main-nav ul{
  		margin: -3.8rem 10% 1.5rem;
  	}

  	.main-nav li {
    	float: left;
  	}

  	.main-nav li a {
		padding: 0;
		margin-left: 3rem;
  	}

  	.main-nav .nav-link-section {
	  	clear: none;
	    float: right;
    	max-height: none;
  	}

  	.main-nav .menu-icon {
    	display: none;
  	}
}

/* Screen size of 960px - 1248px */
@media screen and (min-width: 60rem) and (max-width: 78rem){
	body{
		margin-top: 12rem;
	}

	img{
		width: 100%;
	}

	#container{
		flex-direction: column;
		margin-left: 3rem;
	}

	.side-navigation{
		margin: 0;
		top: 0;
		right: 0;
		left: 0;
		padding: 0 3.8rem 1rem;
		background: #ffffff;
		box-shadow: 1px 1px 5px grey;
	}

	.styleguide-content{
		margin-top: 0;
		margin-left: 1rem;
	}

	.page-nav{
		display: inline-block;
		margin-right: 2.5rem;
		margin-bottom: 0.8rem;
	}

	.anchor{
		padding-top: 10rem;
    	margin-top: -10rem;
	}
}

/* Screen size greater than 768px*/
@media (min-width: 60rem) {
  	.main-nav{
  		padding: 3.5rem 0rem;
  	}

	.nav-logo img{
		max-width: 45%;
		margin-top: -5rem;
	}

	.main-nav ul{
  		margin: -1rem 10% 1.5rem;
  	}

  	.main-nav li {
    	float: left;
  	}

  	.main-nav li a {
		padding: 0;
		margin-left: 3rem;
  	}

  	.main-nav .nav-link-section {
	  	clear: none;
	    float: right;
    	max-height: none;
  	}

  	.main-nav .menu-icon {
    	display: none;
  	}
}